@import url("https://fonts.googleapis.com/css?family=Oxygen|Roboto"); /* Google Fonts */

p { font-size: 1.5em; text-align: justify; font-family: 'Roboto', sans-serif; }
h1 { font-size: 2.2em; font-family:'Oxygen', sans-serif; text-align: center; }
h2 { font-size: 2.2em; font-family: 'Oxygen', sans-serif;  text-align: center; }
li { font-size: 1.5em; font-family: 'Oxygen', sans-serif }
li li { font-size: 1em; font-family: 'Oxygen' sans-serif}
th {font-size: 1.5em; text-align: justify; font-family: 'Oxygen', sans-serif;}
td{font-size: 1.5em; text-align: justify; font-family: 'Oxygen', sans-serif;}
table{font-size: 100%; text-align: justify; font-family: 'Oxygen', sans-serif;}
/*Schriftart, Größe, Hintergrudfarbe, Textausrichtung*/



#leistungen {
  
  border: 3px solid black;

  padding: 7px 7px 7px 7px;
}

div#leistungen p {
  font-family: 'Oxygen',sans-serif;
  text-align: right;
}
body {
  width: 1000px;
  margin: 0 auto;
  background-color:  #ffffff;
  padding: 0 20px 20px 20px;
  border-top:0 solid white;
  border-left: 3px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
}


#navibereich {
  
  text-align: middle; 
  color: white;
  background:  black;
  padding: 5px 5px 5px 5px;
  border-bottom: 1px solid black;
  border-left: 0 solid white;
  border-right: 0 solid white;
  border-top: 0 solid white;
 
}
  #navibereich li {
    border: 1px solid white;
    display: inline-block; /* li nebeneinander anzeigen */
    text-decoration: none;
    list-style-type: none; /* ohne Aufzählungspunkte */
    margin: 0 5px 0 0; /* rechts 10px, sonst 0*/
  }


h1 {
  margin: 0;
  padding: 20px 0;    
  color: black;
}

img {
  display: block;
  margin: 0 auto;
}

img {max-width: 100%; height: auto;}

a {
  text-decoration: none;
  outline: none;
}
a:link { color: black; }
a:visited { color: black; }


a:hover,
a:focus {
  border-bottom: 1px solid rgba(14, 171, 177, 0.747);
}
a:active {
  color: rgb(0, 89, 255);
  background-color: rgba(14, 171, 177, 0.747);
}







